body {
    font-family: Arial, Helvetica, sans-serif;
}


/* Create two columns/boxes that floats next to each other */
nav {
    float: left;
    width: 25%;
    height: 100%;
    float:left;
    background: #FFFAFA;
    padding: 20px;
}

    /* Style the list inside the menu */
    nav ul {
        list-style-type: none;
        padding: 0;
    }

.infobox {
    width: 50%;
    height:100%;
    float: left;
    padding: 20px;
    background-color: white;
}

.infobox2 {
    width: 25%;
    height:100%;
    float: right;
    position:relative;
    padding: 20px;
    background-color: white;
}

/* Clear floats after the columns */
section:after {
    content: "";
    display: table;
    clear: both;
}



/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
    nav, article {
        width: 100%;
        height: auto;
    }
}
/*sidenav
.sidenav {
    width: 130px;
    position: relative;
    z-index: 1;
    top: 20px;
    left: 10px;
    
    overflow-x: hidden;
    padding: 8px 0;
}
*/
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
}

    .sidenav a:hover {
        color: #2196F3;
    }

.main {
    margin-left: 140px; /* Same width as the sidebar + left position in px */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

        .sidenav a {
            font-size: 18px;
        }
}

/*Container*/
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

    input[type=submit]:hover {
        background-color: #45a049;
    }

.container {
    border-radius: 5px;
    background-color: white;
    padding: 20px;
}
/*Container*/

/*backgroundimage*/
/* Full height image header */
.bgimg-1 {
    background-position: center;
    background-size: cover;
    background-image: url("/w3images/mac.jpg");
    min-height: 100%;
}

.w3-bar .w3-button {
    padding: 16px;
}
/*background*/
.bgimg-1, .bgimg-2, .bgimg-3 {
    position: relative;
    opacity: 0.65;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bgimg-1 {
    background-image: url("/Image/background6.jpg");
    min-height: 100%;
}

.bgimg-2 {
    background-image: url("/Image/background4.jpg");
    min-height: 400px;
}

.bgimg-3 {
    background-image: url("/Image/background3.jpg");
    min-height: 400px;
}

.caption {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
}

    .caption span.border {
        background-color: #111;
        color: #fff;
        padding: 18px;
        font-size: 25px;
        letter-spacing: 10px;
    }

h3 {
    letter-spacing: 5px;
    text-transform: uppercase;
    font: 20px "Lato", sans-serif;
    color: #111;
}

/*backgroundimage*/
